<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Trabajo2.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadoEstudiantes">
                <span class="oi oi-list" aria-hidden="true"></span> Listado Estudiantes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadoCursos">
                <span class="oi oi-list" aria-hidden="true"></span> Listado Cursos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listadoInscripciones">
                <span class="oi oi-list" aria-hidden="true"></span> Listado Inscripciones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/estudiante">
                <span class="oi oi-person" aria-hidden="true"></span> Agregar Estudiante
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/curso">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Agregar Curso
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/inscripcion">
                <span class="oi oi-file" aria-hidden="true"></span> Agregar Inscripcion
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/elegircursoestudiante">
                <span class="oi oi-file" aria-hidden="true"></span> Elegir Estudiante/Curso
            </NavLink>
        </div>  
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
